@use 'abstracts' as *;
@use './foundation-sites/scss/foundation' as app;
/*--------------------------------------------------------------
# Accordions
--------------------------------------------------------------*/
.accordion-section {
	display: flex;
	justify-content: center;
}

.accordion {
	$a: &;
	width: 100%;

	&__item {
		border-bottom: 1px solid $gray-400	;
		margin-bottom: 0;

		padding-top: app.rem-calc(30);
		padding-bottom: app.rem-calc(30);

		&:first-child > #{$a}__title {
			padding-top: 0;
		}

		&.is-active {
			border-bottom-color: coral;
			border-bottom-width: 4px;
			> #{$a}__title{
				color: coral;


				&:before {
					color: coral;
					transform: rotate(135deg);
				}
			}
		}
	}

	&__title {
		display: block;
		position: relative;
		font-weight: 700;
		font-size: app.rem-calc(22);
		text-decoration: none;
		color: $black-400;
		padding-left: 1rem;
		padding-right: app.rem-calc(70);
		transition: all $ease-io-fast;
		
		&::before {
			display: block;
			position: absolute;
			right: 0;
			content: "\63";
			color: $black-400;
			font-family: $icon-font;
			font-weight: normal;
			margin-right: app.rem-calc(15);
			transition: all $ease-io-fast;
		}

		&:hover, &:focus {
			color: coral;

			&::before {
				color: coral;
			}
		}

		@include app.breakpoint(medium) {
			font-size: app.rem-calc(30);
		}
	}

	&__content {
		display: none;
		padding: 1rem 4rem;
	}
}
