// Colors - These are also used in Foundation Settings.
$white: #ffffff;

$gray-200: #D8D8D8;
$gray-300: #CCCCCC;
$gray-400: #707070;
$gray-500: #404040;
$gray-600: #333333;
$gray-700: #2A2929;

$black-400: #000000;