@use '../abstracts' as *;
@use '../app' as *;

.site-footer {
	background-color: $black-400;
}

.footer-row {
	display: flex;
	flex-direction: column;
	padding: rem-calc(30 0);

	@include breakpoint(xlarge) {
		flex-direction: row;
		padding: rem-calc(60 0);
	}
}

.footer-column {
	display: flex;
	flex-direction: column;
	@include xy-cell(auto, $gutter-type: padding, $gutters: .625rem);
	text-align: left;
	padding-top: rem-calc(15);
	padding-bottom: rem-calc(15);
	font-weight: 300;


	@include breakpoint(xlarge) {
		padding-left: rem-calc(50);
		padding-right: rem-calc(50);
		border-right: 1px solid $gray-200;
	}

	&:last-child {
		border-right: none;
	}

	h3 {
		font-size: rem-calc(26);
		margin-bottom: 1rem;
	}

	.custom-logo-link {
		width: rem-calc(280);
	}

	address {
		line-height: 1.8;
	}

	a {
		color: $black-400;
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	.social-links {
		margin-top: rem-calc(35);
	}

	.social-link__url {
		display: inline-block;
		padding-left: rem-calc(10);
		padding-right: rem-calc(10);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&:hover svg, &:focus svg {
			fill: $gray-200;
		}

		svg {
			fill: $white;
			height: 38px;
			width: 38px;
			transition: all $ease-io-fast;
		}
	}
}

.footer-branding {
	justify-content: center;
}

.secondary-footer {
	background-color: $gray-600;
}

.footer-site-info {
	@include xy-grid;
	justify-content: center;
	list-style: none;
	font-size: rem-calc(14);
	font-weight: 300;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: 0;
	margin-bottom: 0;
	color: $white;

	@include breakpoint(medium) {
		font-size: rem-calc(18);
	}

	li {
		margin-bottom: 0;
		&:after {
			display: inline-block;
			content: "|";
			
		}

		&:nth-child(2) {
			&:after {
				content: none;

				@include breakpoint(medium) {
					content: "|";
				}
			}
		}

		&:last-child {
			&:after {
				content: none;
			}
		}

		span, a {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		a {
			color: inherit;
			text-decoration: none;

			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}
}

.sticky-container {
	width: 100%;
}

.gdpr-bar {
	background-color: $white;
	transition: all $cubic-slow;
	z-index: $z-overall;
	box-shadow: $default-box-shadow;
}

.gdpr-inner {
	@include xy-grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: rem-calc(10 0);
	color: $black-400;
}

.btn--gdpr {
	font-size: rem-calc(15);
	padding: 1em 2.25em;
	margin: rem-calc(15 0 0 0);

	@include breakpoint(large) {
		margin: rem-calc(0 0 0 30);

	}
}

.gdpr-text-link {
	color: $black-400;
	font-weight: 500;
	text-decoration: underline;

	&:hover, &:focus {
		color: inherit;
		text-decoration: none;
	}
}

/*-------------------
Back To Top
-------------------*/
.back-to-top {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 45px;
	height: 45px;
	position: fixed;
	z-index: 10;
	right: 10px;
	bottom: 60px;
	font-size: rem-calc(11);
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	background-color: coral;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	transition: opacity $ease-io-slow, visibility 0ms $ease-io-slow;

	a {
		text-decoration: none;
		color: $white;
		line-height: 1;

		&::before {
			content: "\64";
			display: block;
			color: $white;
			font-family: $icon-font;
			font-weight: normal;
			font-size: rem-calc(20);
			text-transform: none;
		}
	}

	&.show {
		visibility: visible;
		opacity: 1;
		transition-delay: 0ms;
	}

	@include breakpoint(64.0625em) {
		right: 30px;
		bottom: 50px;
	}
}
