/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# General Structure
	## Code
	## Cover
	## Embeds
	## Gallery
	## Group
	## Image
	## Latest Posts
	## List
	## Media Text
	## More
	## Navigation
	## Pullquote
	## Quote
	## Separator
	## Site Tagline
	## Table
	## Video

	*Note that buttons are in /components/_buttons.scss
--------------------------------------------------------------*/
@use '../abstracts' as *;
@use './app' as *;
/*--------------------------------------------------------------
# General Structure
--------------------------------------------------------------*/
// This will set the default width for all items within .entry-content. When creating blocks, your width overrides should happen at the block level and not target .entry-content.
.entry-content {

	> * {
		margin-left: auto;
		margin-right: auto;
		max-width: $default-content-width;
		padding-left: $mobile-lr-padding;
		padding-right: $mobile-lr-padding;

		@include breakpoint(medium) {
			padding-left: $desktop-lr-padding;
			padding-right: $desktop-lr-padding;
		}
	}

	> .alignwide {
		max-width: $wide-content-width;
	}

	> .alignfull {
		max-width: 100%;
	}

	// Add default spacing for buttons appearing below paragraphs
	p + .wp-block-buttons {
		margin-top: rem-calc(30);
	}

	// Make sure the last child within .entry-content doesn't have a margin if it has a background. For example if the page ends with a heading or paragraph block that has a background color that would typically have a margin bottom. 
	> *:last-child:where(.has-background) {
		margin-bottom: 0;
	}
}

/*--------------------------------------------------------------
## Columns
--------------------------------------------------------------*/
.wp-block-columns {
	margin-bottom: 0;
}

.wp-block-column {
	margin-bottom: rem-calc(30);

	&:last-child {
		margin-bottom: 0;
	}

	@include breakpoint(medium) {
		&:last-child {
			margin-bottom: rem-calc(30);
		}
	}	
}

.wp-block-columns + .wp-block-columns {
	margin-top: rem-calc(30);

	@include breakpoint(medium) {
		margin-top: 0;
	}
}

.wp-block-columns.has-background {
	padding-left: 0;
	padding-right: 0;
}

.entry-content {
	p + .wp-block-column {
		margin-top: rem-calc(30);
	}
	
	p {
		a {
			word-break: break-word;
		}
	}
}

// TODO: This is an override for a default styling. Check to see if we can remove or refactor.
@media screen and (min-width: 600px) and (max-width: 781px) {
	.wp-block-column:not(:only-child) {
		flex-basis: 100% important;
	}
}

/*--------------------------------------------------------------
## Code
--------------------------------------------------------------*/
.wp-block-code {
	padding: 0.8em 1em;
	margin-left: rem-calc(16);
	margin-right: rem-calc(16);

	@include breakpoint(medium) {
		margin-left: auto;
		margin-right: auto;
	}
}
/*--------------------------------------------------------------
## Cover
--------------------------------------------------------------*/
.wp-block-cover {

	// Unique rule for the Cover block's inner container. You can change this to have a wider content width. 
	> .wp-block-cover__inner-container {
		max-width: $default-content-width;

		@include breakpoint(medium) {
			padding-left: $desktop-lr-padding;
			padding-right: $desktop-lr-padding;
		}
	}

	// For alignfull cover block, the max-width of container is wider. This can be adjusted to match designs.
	&.alignfull {
		> .wp-block-cover__inner-container {
			max-width: $wide-content-width;
		}
	}
}
/*--------------------------------------------------------------
## Embeds
--------------------------------------------------------------*/
.wp-block-embed.type-video {
	> .wp-block-embed__wrapper {
		position: relative;
		width: 100%;
		height: 0;
		padding-top: 56.25%;

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
} 

.wp-block-embed {
	margin-bottom: rem-calc(30);
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

.wp-block-gallery:not(.components-placeholder) {
	margin: rem-calc(25) auto;
}

/*--------------------------------------------------------------
## Group
--------------------------------------------------------------*/
.wp-block-group {
	// Overrides the default styles from WordPress. 
	&:where(.wp-block-group.has-background) {
		padding: 0;
	}

	> .wp-block-group__inner-container {
		@include section;
		margin-left: auto;
		margin-right: auto;

		// Universal selector creates the default for all elements within a Group block. This should match the first rule in General Structure. 
		> * {
			max-width: $default-content-width;
			margin-left: auto;
			margin-right: auto;
			padding-left: $mobile-lr-padding;
			padding-right: $mobile-lr-padding;

			@include breakpoint(medium) {
				padding-left: $desktop-lr-padding;
				padding-right: $desktop-lr-padding;
			}
		}

		// The align classes below take care of blocks within group that need width adjustments. 
		> .alignwide {
			max-width: 85%;
		}
		
		> .alignfull {
			max-width: 100%;
		}

		>.wp-block-columns {
			margin-bottom: 0;
		}
	}


	&.has-background:not(.wp-block-group) {
		// Sets the default top/bottom padding for sections found in /abstracs/_mixins.scss and /abstracts/_vars.scss
		@include section;
		padding-left: 0;
		padding-right: 0;
	}

	// For alignfull block groups, the max-width of container is wider. This can be adjusted to match designs.
	&.alignfull {
		>.wp-block-group__inner-container {
			max-width: $wide-content-width;
		}
	}
}
/*--------------------------------------------------------------
# Image
--------------------------------------------------------------*/
// TODO: There are more alignment classes in /base/_alignments.scss. Let's work to consolidate them into here. 
.wp-block-image {
	img {
		display: block;
	}

	&.alignleft, &.alignright {
		width: 100%;

		img, figcaption {
			max-width: 100%;
			width: 100%;
		}
	}

	&.alignfull {
		img {
			width: 100%;
		}
	}

}

/*--------------------------------------------------------------
## Latest Posts
--------------------------------------------------------------*/
ul.wp-block-latest-posts {
	&.alignwide, &.alignfull, &.is-grid.alignwide, &.is-grid.alignfull {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: $mobile-lr-padding;
		padding-right: $mobile-lr-padding;

		@include breakpoint(medium) {
			padding-left: $desktop-lr-padding;
			padding-right: $desktop-lr-padding;
		}
	}
}
/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/
ul.is-style-list-style-none {
	margin-left: 0;
	list-style: none;
}

ul.is-style-two-column {
	max-width: rem-calc(700) !important;
	
	@include breakpoint(medium) {
		columns: 2;
		margin: 0 auto !important;
	}

	li {
		width: fit-content;
		padding-left: rem-calc(10);
		padding-right: rem-calc(10);
	}
}

/*--------------------------------------------------------------
## Media Text
--------------------------------------------------------------*/
// TODO: Let's style this out more and make variations using editor.js to match designs. Elimate need for custom Media Content block. 
.wp-block-media-text {
	// Overrides default padding from General Structure via specificity
	.entry-content & {
		padding-left: 0;
		padding-right: 0;
	}
}

/*--------------------------------------------------------------
## More
--------------------------------------------------------------*/
.more-link {
	display: block;
}

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.wp-block-navigation-link__label {
	font-family: inherit;
	color: #0073aa;
}

/*--------------------------------------------------------------
## Pullquote
--------------------------------------------------------------*/
.wp-block-pullquote {
	> p:first-child {
		margin-top: 0;
	}
}

/*--------------------------------------------------------------
## Quote
--------------------------------------------------------------*/
.wp-block-quote {
	margin-left: rem-calc(16);
	margin-right: rem-calc(16);
	padding: 0;

	> * {
		margin-left: 1rem;
	}

	&.is-large, &.is-style-large {
		margin: rem-calc(35) auto;
		padding: 0;

		cite, footer {
			font-size: rem-calc(14);
		}
	}
	@include breakpoint(medium) {
		margin: rem-calc(35) auto;
	}
}

/*--------------------------------------------------------------
## Separator
--------------------------------------------------------------*/
.wp-block-separator {
	margin: 0 auto;
	padding: 0;
	opacity: 1;
}

/*--------------------------------------------------------------
## Site Tagline
--------------------------------------------------------------*/
.wp-block-site-tagline {
	margin-top: 0;
}

/*--------------------------------------------------------------
## Site Title
--------------------------------------------------------------*/
.wp-block-site-title {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
## Table
--------------------------------------------------------------*/
.wp-block-table {
	overflow-x: auto;

	thead {
		border: $table-border // Located in /app/_settings.scss
	}

	td, th {
		padding: $table-padding; // Located in /app/_settings.scss
	}

	&.is-style-stripes {
		border-bottom: none;
		td, th {
			border-color: transparent;
		}
	}

	figcaption {
		font-size: rem-calc(14);
		color: $gray-500;
	}
}

/*--------------------------------------------------------------
## Video
--------------------------------------------------------------*/
.wp-block-video {
	video {
		max-width: $default-content-width;
	} 
}